/* global variables */
:root {
    --primary-10: #f2f8f9;
    --primary-9: #deeeef;
    --primary-8: #c1dee0;
    --primary-7: #96c6ca;
    --primary-6: #64a5ac;
    --primary-5: #4f959d;
    --primary-4: #3f727b;
    --primary-3: #385e66;
    --primary-2: #344f56;
    --primary-1: #2f444a;
    --grey-1: hsl(189,61%,35%);
    --grey-2: hsl(189,39%,35%);
    --grey-3: hsl(189,34%,35%);
    --grey-4: hsl(189,30%,35%);
    --grey-5: hsl(189,22%,49%);
    --grey-6: hsl(189,23%,60%);
    --grey-7: hsl(189,27%,70%);
    --grey-8: hsl(189,31%,80%);
    --grey-9: hsl(189,33%,90%);
    --grey-10: hsl(189,36%,98%);
    --primary-white: #fff;
    --ff-primary: "Noto Serif", serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow: 0 5px 15px rgba(0,0,0,0.2);
    --nav-height: 4rem;
}
/* =========================================== */
/* global settings */
html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background: var(--primary-white);
    color: var(--grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.logo) {
    width: 100%;
    display: block;
}
/* make image fully fill up the div container (except .logo image) */

h1,h2,h3,h4 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

h1 {
    font-size: 3rem;
    text-transform:uppercase;
}
h2 {
    padding: 40px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-3)
}
h3 {
    font-size: 1.25rem;
    text-transform:capitalize;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--grey-5);
}
span {
    color: var(--primary-5)
}
/* =========================================== */
/* sections */
/* navbar */
.navbar {    
    background-color: var(--primary-10);
    padding: 0 2rem;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: var(--dark-shadow);
    /* width 100% to space out the nav and icon items */
}

.navbar .logo {
    width: var(--nav-height);
}

.navbar-flex{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.menu-list, .icon-list {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    a{color: var(--primary-4);
    font-size: 1.2rem;
    }
}

.navbar .mobile-menu-items {
    position: absolute;
    top: var(--nav-height);
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--grey-5);
    text-align: center;
    transition: var(--transition);
    transform: translateX(-100%);  
    z-index: 1;
}

.navbar .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    padding-top: 1.5rem;
    gap: 2rem;
    font-size: 1.2rem;
    margin-block: 0;
    background: var(--primary-8);
    opacity: 0.97;
    li {
        border-bottom: 1px solid var(--primary-3);
        padding-bottom: 1.5rem;
        a{
            color:var(--primary-white);
        }
    }
    li:last-child {
        border-bottom: 0;
    }
}

.navbar .mobile-menu-toggle {
    cursor: pointer;
}

.navbar .mobile-menu-items.active {
    transform: translateX(0);
    z-index: 1;
}

.navbar .mobile-menu {
    display: none;
}

@media (max-width : 768px) {
    .navbar {
        .main-menu, 
        .icon-menu {
        display: none;
    }
}
    .navbar .mobile-menu {
        display: block;
        a {
            color: var(--primary-white);
        }
    }
}
/* hero */

.hero .container {
    max-width: 1100px;
    margin: var(--nav-height) auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.hero {
    background: url(../img/heroimage.jpg) center/cover no-repeat;
    color: var(--primary-10);
    position: relative;
    text-align: center;
    p{
        font-size: 1.5rem;
        padding: 1rem;
        margin-bottom: 2.5rem;
        color:var(--primary-white);
    }
}

.hero h1 {
    padding: 1rem;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: var(--grey-3);
    opacity: 0.6;
}

.hero .btn {
    text-decoration: none;
    color: var(--primary-white);
    padding: 1rem 2rem;
    background: var(--primary-5);
    border: 1px solid var(--primary-white);
    border-radius: var(--radius);
    cursor: pointer;
    opacity: 0.7;
    text-transform: uppercase;
}

.hero .btn:hover {
    opacity: 0.8;
    background-color: var(--primary-3);
}

@media (max-width: 768px) {
    .hero {
        background: var(--primary-5);
    }
    .hero h1 {
        font-size: 2rem;
        line-height: 1.3;
    }
    .hero p {
        font-size: 1.25rem;
    }
    .hero .btn {
        font-size: 1rem;
    }
}
/* =========================================== */
/* about */
.about,
.services,
.tours {
    padding-top: var(--nav-height);
    margin-bottom: 4rem;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 0 2.8rem;
    gap: 4rem;
    position: relative;
}

.about-img {
    width: 60%;
}

@media (min-width: 768px) {
.about-img:before {
    content: "";
    position: absolute;
    width: calc(50% - 2.8rem);
    height: 100%;
    box-sizing: border-box;
    top: -1.25rem;
    left: 1.25rem;
    border: 5px solid var(--primary-3);
    z-index: -1;
}
}

.text {
    width: 50%;
    h3 {
        color: var(--primary-3);
    }
    .btn-about {
        padding: 0.6rem;
        background-color: var(--primary-5);
        color: var(--primary-white);
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 0.75rem;
    }
    .btn-about:hover {
        background: var(--primary-8);
        color: var(--primary-4);
    }
}

@media (max-width : 576px) {
    .about-content {
        flex-direction: column;
    }
    .text {
        width: 100%;
        h3 {
            font-size: 1rem;
        }
    }
    .about-img {
        width: 100%;
    }
}
/* services*/
.services {
    height: 50vh;
    background:var(--grey-9);
}

.service-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    align-items: start;
    justify-content: center;
}

.service-title  {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.service-title .fa-solid {
    font-size: 1.5rem;
    background-color: var(--primary-5);
    color: var(--primary-3);
    padding: 1rem 1rem;
    width: 4rem;
}

.service-title h3 {
    margin: 0 1rem;
    font-size: 1rem;
    width: 7rem;
    padding-left: 0.75rem;
}

.service-title p {
    font-size: 1rem;
    margin-top: 0;
    width: 12rem;
}
/* inspect > toggle device toolbar to check breakpoint for services section without horizontal scroll bar: 1100px*/

@media (max-width: 1099px)and (min-width: 577px) {
.services {
    height: 75vh;
}

.service-content {
    width: 100%;
    gap: 2rem;
}

.service-title  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.service-title p {
    padding: 0 0.5rem;
}
}

@media (max-width: 576px) {
    .services {
        height: 100vh;
        h2:{
            font-size: 1.5rem;
        }
    }
    .service-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-title {
        width: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        h3{
            font-size: 1rem;
            width: 100%;
            padding: 0.25rem;
        }
        p {
            font-size: 0.8rem;
            width: 60%;
        }
    }
    .service-title .fa-solid {
    font-size: 1.75rem;
    padding: 1rem 0;
    width: 3.5rem;
    }
}
/* tours*/
.tours {
    padding: 2rem;
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: start;
    justify-content: center;
}
.card {
    box-shadow: var(--dark-shadow);
}
.card:hover {
    transform: scale(1.03);
    transition: var(--transition);
}

.card-img {
    position: relative;
}

.card img {
    height: 30vh;
}

.card-img p {
    position: absolute;
    background: var(--primary-7);
    padding: 2px;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 0;
}

.card-content {
    background: var(--primary-9);
    padding: 1.5rem 2rem 0.5rem;
    p{
        font-size: 1rem;
        color: var(--primary-6);
    }
    ul {
        display:flex;
        justify-content: space-between;
        padding: 0;
        font-size: 1rem;
    }
}

@media (max-width: 799px)and (min-width: 577px) {
.cards {
    grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 576px) {
.cards {
    grid-template-columns: 1fr;
}
}
/* footer */
.footer {
    height: 35vh;
    background: var(--primary-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a , p {
        color: var(--primary-white);
    }
    .icon-item {
        .fa-brands {
            font-size: 2rem;
        }
    }
    span {
        color: var(--primary-7);
    }
}